.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.message {
    font-size: 1.5rem;
    margin: 10px 0;
    color: white;
}

.pnf-sub-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-size: 2.8rem;
    margin: auto;
    text-align: center;
    color: wheat;
}

.pnf-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #2575fc;
    transition: background-color 0.3s ease;
}

.pnf-button:hover {
    background-color: #f0f0f0;
}