.product-list {
    margin: auto;
    color: white;
}

.product-card {
    border: 1px solid #ccc;
    margin: 1rem;
    padding: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 45rem;
    margin-bottom: 2rem;
    background-color: white;
    background-color: rgb(249, 245, 245);
    color: black;
    border-radius: 2rem;
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.product-img {
    width: 10rem;
    margin: auto;
}